<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <!-- =================================================== -->

    <div class="container">
        <a class="navbar-brand fw-bold" href="/">DevForge</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/courses">Catalog</a>
                </li>
                <!-- Only Authorized-visible -->
                <li class="nav-item" sec:authorize="hasRole('STUDENT')">
                    <a class="nav-link" href="/my-learning">My Learning</a>
                </li>
                <!-- Only Teacher-visible -->
                <li class="nav-item" sec:authorize="hasRole('TEACHER')">
                    <a class="nav-link text-warning" href="/courses/my">Instructor Dashboard</a>
                </li> 
            </ul>

            <div class="d-flex align-items-center">
                <!-- For Guests -->
                <div sec:authorize="isAnonymous()">
                    <a href="/login" class="btn btn-outline-light btn-sm me-2">Login</a>
                    <a href="/register" class="btn btn-primary btn-sm">Register</a>
                </div>

                <!-- For Authtorized -->
                <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-3">

                    <!-- Leaderboard -->
                    <a href="/leaderboard" class="nav-link text-warning fs-5" title="Leaderboard">
                        <i class="bi bi-trophy-fill"></i>
                    </a>
                    
                    <!-- Profile Link with Avatar -->
                    <a href="/profile" class="text-decoration-none text-light d-flex align-items-center gap-2">
                        <img th:src="'https://api.dicebear.com/9.x/notionists/svg?seed=' + ${#authentication.name}" 
                             width="32" height="32" class="rounded-circle bg-light border">
                        <span sec:authentication="name" class="d-none d-md-inline">User</span>
                    </a>

                    <!-- Logout -->
                    <form th:action="@{/logout}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>