spring:
  application:
    name: devforge-platform

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/devforgedb}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driverClassName: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

gemini:
  api-key: "AIzaSyD7jwqot0rXQ4xiTrVwdRBNYJHnNKegdaU"
  url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent