spring:
  application:
    name: devforge-platform

  datasource:
    url: jdbc:h2:mem:devforgedb
    driverClassName: org.h2.Driver
    username: sa
    password: password
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
  
  thymeleaf:
    cache: false
    
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  
gemini:
  api-key: "AIzaSyDPk2NrO5zzMVOoruTf-6pZ_PHhbzv7Hbk"
  url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent