server:
  port: ${PORT:8080}

spring:
  application:
    name: devforge-platform

  datasource:
    url: ${DATABASE_URL} 
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  thymeleaf:
    cache: false
    
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  
gemini:
  api-key: ${GEMINI_API_KEY}
  url: https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent